body
  background: lightblue
  padding: 0
  margin: 0

.source
	 border: 1px solid blue
	 float: left
	 margin: 2px 2px
	 width: 250px   

.destination
	 float: left  
	 margin: 2px 2px
	 width: 250px

.variant
	 border: 1px solid blue
   
.container
   overflow: hidden

p
  margin: 0
